


.form-row {
	margin-bottom: 1rem;	
}
.form-check {
	margin-bottom: .5rem;	
}
.form-row label {
	margin-bottom: .3rem;
}
.checkbox-label {
	margin-bottom: 0px !important;
}
.form-text {
	margin-bottom: .5rem;
}
fieldset legend {
	font-size:1.3em;
	font-weight:bold;
}
.required:after {
	content:" *";
	color: red;
}
  
.main { /* Main content container */
	margin-top: 20px;
}

div h3, h4 { /* Headlines in main content container */
  font-size: 1.3em !important;	
  font-weight: bold !important;	
}

/*About page*/
a.recent-addition {
	text-decoration:none;
}


/*General HTML elements style*/
ul.noBulletsList {
	list-style:none;
	margin-left:0px;
	padding-left:0px;
}
li.verticalSpaceLi {
	margin-bottom:15px;
}